In [2]:
print("Flight delay prediction using machine learning")

Flight delay prediction using machine learning

data collection loading

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("/content/drive/MyDrive/Internship/Flight delay prediction using machine learning/dataset.csv")

/tmp/ipython-input-1464250590.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/drive/MyDrive/Internship/Flight delay prediction using machine learning/dataset.csv")

In [6]:
df

,is_delay,Year,FlightDate,Reporting_Airline,Origin,OriginState,Dest,DestState,CRSDepTime,Cancelled,Diverted,Distance,DistanceGroup,ArrDelay,ArrDelayMinutes,AirTime,Unnamed: 16,Unnamed: 17
0,1.0,2014.0,01-01-2014,UA,LAX,CA,ORD,IL,900.0,0.0,0.0,1744.0,7.0,43.0,43.0,218.0,NaN,
1,0.0,2014.0,01-01-2014,AA,IAH,TX,DFW,TX,1750.0,0.0,0.0,224.0,1.0,2.0,2.0,50.0,NaN,NaN
2,1.0,2014.0,01-01-2014,AA,LAX,CA,ORD,IL,1240.0,0.0,0.0,1744.0,7.0,26.0,26.0,220.0,NaN,NaN
3,1.0,2014.0,01-01-2014,AA,DFW,TX,LAX,CA,1905.0,0.0,0.0,1235.0,5.0,159.0,159.0,169.0,NaN,NaN
4,0.0,2014.0,01-01-2014,AA,DFW,TX,CLT,NC,1115.0,0.0,0.0,936.0,4.0,-13.0,0.0,108.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.head()

,is_delay,Year,FlightDate,Reporting_Airline,Origin,OriginState,Dest,DestState,CRSDepTime,Cancelled,Diverted,Distance,DistanceGroup,ArrDelay,ArrDelayMinutes,AirTime,Unnamed: 16,Unnamed: 17
0,1.0,2014.0,01-01-2014,UA,LAX,CA,ORD,IL,900.0,0.0,0.0,1744.0,7.0,43.0,43.0,218.0,NaN,
1,0.0,2014.0,01-01-2014,AA,IAH,TX,DFW,TX,1750.0,0.0,0.0,224.0,1.0,2.0,2.0,50.0,NaN,NaN
2,1.0,2014.0,01-01-2014,AA,LAX,CA,ORD,IL,1240.0,0.0,0.0,1744.0,7.0,26.0,26.0,220.0,NaN,NaN
3,1.0,2014.0,01-01-2014,AA,DFW,TX,LAX,CA,1905.0,0.0,0.0,1235.0,5.0,159.0,159.0,169.0,NaN,NaN
4,0.0,2014.0,01-01-2014,AA,DFW,TX,CLT,NC,1115.0,0.0,0.0,936.0,4.0,-13.0,0.0,108.0,NaN,NaN

In [8]:
df.tail()

,is_delay,Year,FlightDate,Reporting_Airline,Origin,OriginState,Dest,DestState,CRSDepTime,Cancelled,Diverted,Distance,DistanceGroup,ArrDelay,ArrDelayMinutes,AirTime,Unnamed: 16,Unnamed: 17
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN